<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        data-namespace-typo3-fluid="true">

    <f:form id="confirm-sudo" class="form" method="post" actionUri="{verifyUri}" absolute="true">
        <div class="form-group">
            <div class="form-control-holder">
                <f:form.password name="confirmationPassword" class="form-control" placeholder="Password"
                                 data="{rsa-encryption: 'confirmationPasswordInternal'}"
                                 additionalAttributes="{required: 'required'}" />
                <!-- Internal password field, e.g. used for ext:rsaauth -->
                <f:form.hidden name="confirmationPasswordInternal" id="confirmationPasswordInternal" />
            </div>
        </div>
    </f:form>

</html>
