<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="{layout}" />

    <f:section name="Buttons" />

    <f:section name="ModalHeader">
        <h4 class="modal-title">
            <f:translate key="LLL:EXT:sudo_mode/Resources/Private/Language/locallang.xlf:sudoPasswordConfirm" />
        </h4>
    </f:section>

    <f:section name="ModalBody">
        <div>
            <f:if condition="{flagInvalidPassword} || {isJsonRequest}">
                <f:render partial="InvalidPasswordMessageBlock" arguments="{_all}" />
            </f:if>
            <f:render partial="PasswordInputBlock" arguments="{_all}" />
        </div>
    </f:section>

    <f:section name="ModalFooter">
        <f:if condition="{cancelUri}">
            <a href="{cancelUri}" class="btn btn-default" role="button">
                <f:translate key="LLL:EXT:sudo_mode/Resources/Private/Language/locallang.xlf:cancel" />
            </a>
        </f:if>
        <button type="submit" form="confirm-sudo" class="btn btn-warning" role="button">
            <f:translate key="LLL:EXT:sudo_mode/Resources/Private/Language/locallang.xlf:confirm" />
        </button>
    </f:section>

</html>

